/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
#firstTitle {
    background-image: url("../resources/images/title.jpg"); 
    background-attachment:local; 
    background-size:cover; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}
#secondTitle{
    margin-bottom: 10px;
    background-image: url(../resources/images/rainbow.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 60px;  
    text-align:center;
      color:brown; 
}
#accent{
    font-size: 15px; color: rgb(235, 128, 66);
    background-image: url(../resources/images/accent.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 20px;
}
#lqy
{
    text-align: left;
}
#lcb{
text-align: right;
    }

#tips{
    background-image: url(../resources/images/tips.jpg);
    background-attachment:local; 
    background-size:cover; 
}
/* Main styles */
main {
    padding: 50px; text-align: center; 
}
/* 
article {
    margin-bottom: 40px;
}

article h2 {
    margin-bottom: 10px;
    background-image: url(../resources/images/rainbow.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 60px;  
    text-align:center;
      color:brown; 

} 

*/
/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
