/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.container1,.container2,.container3{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .char {
    opacity: 0; /* Initially hide characters */
    font-size: 24px;
    display: inline-block;
  }
  
/* Header styles */
#firstTitle {
    background-image: url("../resources/images/title.jpg"); 
    background-attachment:local; 
    background-size:cover; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}
#secondTitle{
    margin-bottom: 10px;
    background-image: url(../resources/images/rainbow.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 60px;  
    text-align:center;
      color:brown; 
}
#accent{
    font-size: 15px; color: rgb(235, 128, 66);
    background-image: url(../resources/images/accent.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 20px;
}
#lqy
{
    text-align: left; color: blue;font-weight: bold; 
}
#lcb{
text-align: right; color: green; font-weight: bold;
    }

#tips1,#tips2,#tips3{
    background-image: url(../resources/images/tips.jpg);
    background-attachment:local; 
    background-size:cover; 
}

/* Main styles */
main {
    padding: 50px; text-align: center; 
}
/* 
article {
    margin-bottom: 40px;
}

article h2 {
    margin-bottom: 10px;
    background-image: url(../resources/images/rainbow.jpg);
    background-attachment:local; 
    background-size:cover; 
    padding: 60px;  
    text-align:center;
      color:brown; 

} 

*/
/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
