body, html {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char {
  opacity: 0; /* Initially hide characters */
  font-size: 24px;
  display: inline-block;
}
